<div class="container h-100 ">

  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">

      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">Business ONE Dashboard</div>
        </div>
        <div class="ibox-body">
          Please <a [routerLink]="['startapp']">Get Start</a> to dashboard.
        </div>
        <div>
          Employee <a [routerLink]="['employee/list']">List Show</a> to dashboard.
        </div>
        <div>
          Employee <a [routerLink]="['/demo']">Demo Show</a> to dashboard.
        </div>

        <br>
        <br>
        <br>
        <div>
           <a [routerLink]="['/product']">Create Product</a>
        </div>
      </div>

    </div></div>

</div>
